@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

/* Marquee animation */
.marquee-inner {
  animation: marqueeScroll 35s linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Base styles */
@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 rounded-lg
    focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }

  textarea {
    @apply outline-none border border-gray-300 rounded-lg resize-none
    focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
}

@keyframes spin-gradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
